/* --pale-purple-pantone: #e8d7ffff;
--mimi-pink: #ffd3e8ff;
--pale-pink: #ffd7d5ff;
--nyanza: #f3ffe1ff;
--nyanza-2: #dfffd6ff; */

.bg-light {
    background-color: #e8d7ffff!important;
}

.badge-info {
    background-color: #ffd3e8ff;
    color: black
}

.badge-warning {
    background-color: #ffd7d5ff
}

.btn-primary {
    background-color: #dfffd6ff;
    color: black;
    border: 1px solid #dfffd6ff;
}

.btn-danger {
    background-color: #ffd7d5ff;
    color: black;
    border: 1px solid #ffd7d5ff
}

.btn-info {
    background-color: #f3ffe1ff;
    color: black;
    border: 1px solid #f3ffe1ff
}


.list-group-item .btn:not(.btn-info) {
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.list-group-item .btn, .badge {
    -webkit-box-shadow: 5px 5px 8px -5px rgb(0,0,0,0.71); 
    box-shadow: 5px 5px 8px -5px rgb(0,0,0,0.71);
}